<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-img width="150px" src="http://app.wiki4fit.com.br/assets/imgs/logo-topo.png"></ion-img> -->
  
<!-- 
  <ion-avatar>
      <img src="http://api.wiki4fit.com.br/assets/images/usuarios/1/53462.png">
    </ion-avatar> -->

    <div class="logo">
      <ion-img src="http://app.wiki4fit.com.br/assets/imgs/logo-topo.png"></ion-img>
    </div>
      

  <ion-card class="welcome-card">
    <ion-img src="http://api.wiki4fit.com.br/assets/images/novidades/default.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Novidade</ion-card-subtitle>
      <ion-card-title>Seu treino na palma da mão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Este é o seu novo app, ele vai transformar a maneira como você treina!! Gerencie seus treinos e aulas,
        acompanhe as novidades e eventos, fale com seu treinador a qualquer momento.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="calendar"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="clock"></ion-icon>
      <ion-label>Aulas</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-item>
  </ion-list>

</ion-content>